<div class="modal-content">
    <div class="modal-header">
        <button ng-click="fechar()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Gerenciar Produto</h2>
    </div>
    <div class="modal-body">
        <div class="row">
            <form ng-submit="salvar()">
                <div class="col-md-6">
                    <div class="thumbnail">
                        <img class="img-responsive" src="{{produto.action}}" />
                    </div>
                    <button class="btn btn-default" ngf-select ng-model="produto.file" ng-show="editando">Nova Imagem</button>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 ng-hide="editando" ng-bind="produto.nome"></h2>
                            <input class="form-control" ng-show="editando" ng-model="produto.nome" />
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Preço</label>
                                    <h4 ng-hide="editando">{{produto.preco | currency}}</h4>
                                    <input class="form-control" type="text" ng-show="editando" ng-model="produto.preco" min="0" required ui-money-mask />
                                </div>
                            </div>
                            <div class="row">
                                <label>Descrição Produto</label>
                                <textarea style="width: 100%" rows="6" cols="5000" ng-model="produto.descricao"></textarea>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary" ng-hide="editando" ng-click="editar()">Editar</button>
                    <button type="submit" class="btn btn-success" ng-show="editando">Salvar</button>
                </div>
            </form>            
        </div>
        
    </div>
</div>
    
