<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-md-offset-2">
            <h1>Lista de Produtos</h1>
        </div>
        <div class="col-md-offset-9 col-xs-offset-2">
            <button class="btn adicionar btn-primary" data-toggle="modal" data-target="#adicionar">Adicionar Produto</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked ">
                <li class="btn-group">
                    <ul class="nav nav-pills nav-stacked ">
                        <li class="btn-group">
                            <a type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Produtos <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu ">
                                <li class="text-center">Categorias</li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Celulares</a></li>
                                <li><a href="#">Eletronicos</a></li>
                                <li><a href="#">Games</a></li>
                                <li><a href="#">Informática</a></li>
                            </ul>
                        </li>
                        <li class="btn-group">
                            <a type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Relatório de Produto<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu ">
                                <li class="text-center">Estado</li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Baixa Quantidade</a></li>
                                <li><a href="#">Alta Quantidade</a></li>
                                <li><a href="#">Parados</a></li>
                            </ul>
                        </li>
                        <li><a href="">Produtos Destaques</a></li>
                        <li><a href="">Produtos Mais Vendidos</a></li>
                    </ul>
        </div>
        <div class="col-md-10">
            <table class="table table-responsive table-hover ">
                <tbody>
                    <tr>
                        <th>#</th>
                        <th>Nome do Produto</th>
                        <th>Preço</th>
                        <th>Quantidade</th>
                        <th>Categoria</th>
                        <th>Data Entrada</th>
                        <th>Data Saída</th>
                        <th>Ações</th>
                    </tr>
                    <tr>
                        <td>{{$index}}</td>
                        <td>{{p.nome}}</td>
                        <td>{{p.preco}}</td>
                        <td>{{p.quantidade}}</td>
                        <td>{{p.categoria}}</td>
                        <td>{{p.dataEntrada}}</td>
                        <td>{{p.dataSaida}}</td>
                        <td>
                            <div class="btn-group-xs text-right">
                                <button class="btn btn-success" data-toggle="modal" data-target="#visualizar">Visualizar</button>
                                <button class="btn btn-warning" data-toggle="modal" data-target="#adicionar">Editar</button>
                                <button class="btn btn-danger">Excluir</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-4 col-md-offset-5 col-xs-offset-2">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                      <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                         <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
               </ul>
            </nav>
        </div>
    </div> -->
</div>
