<div class="container">
    <div class="page-header">
        <h1 class="text-center">{{categoria}}</h1>
    </div>
    <div class="row">
        <div class="col-md-4" ng-repeat="produto in Produtos track by $index">
            <div class="thumbnail">
                <img class="img-responsive" src="{{produto.action}}" />
                <div class="caption">
                    <h3>{{produto.nome | truncate}}</h3>
                    <h2>{{produto.preco |currency}}</h2>
                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="exibirDetalhes(produto)">Detalhes</button>
                </div>
            </div>
        </div>
    </div>
</div>