<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-9">
                <h3>Cadastro de Produtos</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="nomeProduto">Nome do produto</label>
            <input class="form-control" type="text" id="nomeProduto" placeholder="Nome  Produto" />
        </div>
        <div class="col-md-6">
            <label for="precoProduto">Preço</label>
            <input class="form-control" type="text" id="precoProduto" placeholder="Preço Produto"/>
        </div>
    </div>
</div>