<style>
    #ImagemProduto{
        width: 300px;
        height: 300px;
    }

    #preco{
        font-size: 20px;
    }

</style>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="{{prooduto.imagem}}" id="ImagemProduto" alt="Imagem Produto"/>
        </div>
        <div class="col-md-offset-1 col-md-8">
            <div class="row">
                <div class="col-md-12"><h1>{{produto.nome}}</h1></div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12"><p id="preco">{{produto.preco | currency}}</p></div>
                <div class="col-md-12 col-sm-12"><button class="btn btn-success btn-fixed" id="comprar">Adicionar ao carrinho</button></div>
            </div>
        </div>
    </div>
</div>