<style>
    
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 class="text-center">Minha Sacola</h1>
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <a class="btn btn-default">Continuar Comprando</a>
                <a class="btn btn-default">Finalizar Compra</a>
                <a class="btn btn-default">Cancelar</a> 
            </div>            
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

        </div>
    </div>
    <br>
    <div class="row text-center">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Detalhe do(s) Produto(s)</div>
                <div class="panel-body">
                    <!-- Table -->
                    <table class="table table-responsive">
                        <tr>
                            <th class="text-center">Produto(s)</th>
                            <th class="text-center">Quantidade</th>
                            <th class="text-center">Valor Unitário</th>
                            <th class="text-center">Valor Total</th>
                        </tr>
                        <tbody>
                            <!-- line 1 -->
                            <tr ng-repeat="produto in produtos">
                                <td class="col-md-5 text-left">
                                    <img class="img-responsive text-center imagem-prod" 
                                         src="{{produto.action}}">
                                    <h4>{{produto.nome | truncate}}</h4>
                                </td>
                                <td class="col-xs-2 col-xs-offset-5 bottom-column">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"><i class="fa fa-minus"></i></button>
                                        </span>
                                        <input type="number" class="form-control" disabled ng-model="produto.quantidade">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"><i class="fa fa-plus"></i></button>
                                        </span>
                                    </div>                                   
                                    
                                </td>
                                <td class="col-md-2 bottom-column">
                                    <h3>{{produto.preco | currency}}</h3>
                                </td>
                                <td class="col-md-2 bottom-column">
                                    <h3>{{produto.totalUnitario | currency}}</h3>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr />
                    <div class="row">
                        <div class="col-md-3 col-md-offset-7">
                            <h2>Subtotal <small>{{subTotal | currency}}</small></h2>
                        </div>
                        <button class="btn" ng-click="finalizarCompra()">finalizar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>