<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="fechar()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3>Endereços</h3>
    </div>
    <div class="modal-body">
        <form ng-submit="salvarNovoEndereco()" ng-show="novoEndereco" id="formEndereco">
            <div class="row form-group">
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Logradouro</span>
                        <input ng-model="formEndereco.logradouro" class="form-control" type="text" placeholder="" required />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Número</span>
                        <input ng-model="formEndereco.numero" class="form-control" type="text" placeholder="" required />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Complemento</span>
                        <input ng-model="formEndereco.complemento" class="form-control" type="text" placeholder="" />
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">CEP</span>
                        <input ng-model="formEndereco.cep" class="form-control" type="text" ui-br-cep-mask required ng-change="consultaCEP(formEndereco.cep)" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Cidade</span>
                        <input ng-model="formEndereco.cidade" class="form-control" type="text" placeholder="" required />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Bairro</span>
                        <input ng-model="formEndereco.bairro" class="form-control" type="text" placeholder="" required />
                    </div>
                </div>
            </div>
            
            <div class="row form-group">
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">UF</span>
                        <input ng-model="formEndereco.uf" class="form-control" type="text" placeholder="" required />
                    </div>
                </div>                
                <div class="col-md-4">
                    <button type="submit" class="btn btn-success pull-right">CONCLUIR</button>
                </div>
            </div>
        </form>
        <div ng-hide="novoEndereco">
            <a ng-click="abrirAdicionarEndereco()">Clique aqui para cadastrar um novo endereco!</a>
        </div>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Logradouro</th>
                        <th>Numero</th>
                        <th>Complemento</th>
                        <th>CEP</th>
                        <th>Cidade</th>
                        <th>UF</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="e in enderecos">
                        <td>{{e.logradouro}}</td>
                        <td>{{e.numero}}</td>
                        <td>{{e.complemento}}</td>
                        <td>{{e.cep}}</td>
                        <td>{{e.cidade}}</td>
                        <td>{{e.sigla}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>