<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <div class="item active">
            <!-- Set the first background image using inline CSS below. -->
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide One');"></div>
            <div class="carousel-caption">
                <h2>Caption 1</h2>
            </div>
        </div>
        <div class="item">
            <!-- Set the second background image using inline CSS below. -->
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
            <div class="carousel-caption">
                <h2>Caption 2</h2>
            </div>
        </div>
        <div class="item">
            <!-- Set the third background image using inline CSS below. -->
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
            <div class="carousel-caption">
                <h2>Caption 3</h2>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <span class="left carousel-control" data-target="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </span>
    <span class="right carousel-control" data-target="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </span>

</div>
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-5 col-xs-5 left-line"></div>
            <div class="col-md-2 col-xs-2 text-center">Destques</div>
            <div class="col-md-5 col-xs-5 right-line"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail">
                <img class="img-responsive" src="{{destaquePrincipal.action}}" />
                <div class="caption">
                    <h3>{{destaquePrincipal.nome | truncate}}</h3>
                    <h2>{{destaquePrincipal.preco |currency}}</h2>
                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="exibirDetalhes(destaquePrincipal)">Detalhes</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div ng-repeat="destaque in destaques" class="col-md-6">
                    <div class="thumbnail">
                        <img class="img-responsive destaque-image" src="{{destaque.action}}" />
                        <div class="caption">
                            <h4>{{destaque.nome | truncateHome}}</h4>
                            <h2>{{destaque.preco |currency}}</h2>
                            <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="exibirDetalhes(destaque)">Detalhes</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="row">
                <div ng-repeat="destaque in destaqueSegundaLinha" class="col-md-6">
                    <div class="thumbnail">
                        <img class="img-responsive" src="{{destaque.action}}" />
                        <div class="caption">
                            <h3>{{destaque.nome | truncate}}</h3>
                            <h2>{{destaque.preco |currency}}</h2>
                            <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="exibirDetalhes(destaque)">Detalhes</button>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>