<style>
    .item img{
        height: 500px;
        width: 500px
    }
    .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.conteudo {
    padding: 2px 16px;
    background: gray;
}

.cards{
	padding: 0 !important;
}

button{
	width: 100%;
	border: none;
	background: #4CAF50;
	padding: 5px;
}
</style>
<div class="container">


    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->

        <div class="carousel-inner">
            <div class="item active">
                <img id="dk" src="/Content/img/liquidificador.jpg" alt="MStudio">
                <div class="carousel-caption">
                    <h3>MStudio!</h3>
                </div>
            </div>
            <div class="item">
                <img id="dk" src="/Content/img/microondas.jpg" alt="...">
                <div class="carousel-caption">
                    <h3>MStudio</h3>
                </div>
            </div>
            <div class="item">
                <img id="dk" src="/Content/img/relescopio.jpg" alt="...">
                <div class="carousel-caption">
                    <h3>MSTUDIO</h3>
                </div>
            </div>
        </div>


        <!-- Controls -->

        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>


    <div class="row">
        <h3 class="col-md-2  col-md-offset-5">Destaques</h3>
    </div>
    <div class="row">
        <div class="col-md-4" ng-repeat="destaque in destaques track by $index">
            <div class="card text-center">
                <img src="{{destaque.imagem}}" height="200" width="100%">
                <div class="conteudo">
                    <h3>{{destaque.descricao}}</h3>
                    <h4>{{destaque.preco | currency}}</h4>
                </div>
                <button>Adicionar a ocarrinho</button>
            </div>
        </div>
    </div>
</div>