/*Carousel card image*/
.container-card img{
    padding: 20px;
    width: 100%;
}

.container-card .descricao{
    height: 50px;
}
/*Carousel card image*/

.left-line,.right-line{
	background: gray;
	margin-top: 10px;
}
.descricao-card{
    position: relative;
    bottom: 100px
}
