<div class="container">
    <div class="page-header">
        <h2 class="text-center">Identificação</h2>
    </div>
    <form>
        <div class="row">
            <h3 class="text-center">Dados Cadastrais</h3>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                    <input class="form-control" type="text" id="nomeProduto" placeholder="Ex: fulano@zmail.com" />
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                    <input class="form-control" type="password" id="nomeProduto" placeholder="Senha" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                    <input class="form-control" type="text" id="nomeProduto" placeholder="Ex: José dos Santos" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa" aria-hidden="true"></i></span>
                    <input class="form-control" type="text" id="nomeProduto" placeholder="Ex: José dos Santos" />
                </div>
            </div>
        </div>
    </form>
</div>