<div class="container-fluid">
    <div class="page-header">
        <h3>Perfil</h3>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Dados Pessoais</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item" ng-click="abrirEnderecos()">Meus Endereços</li>
                        <li class="list-group-item" ng-click="abrirCartoes()">Meus Cartões</li>
                        <li class="list-group-item" ng-click="abrirAlterarSenha()">Alterar Senha</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Meus pedidos</h3>    
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nº Pedido</th>
                                    <th>Data Pedido</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>