<div class="content-wrapper">
    <div class="content" ng-view>
    </div>
    @*<footer class="footer-layout">
        <p>&copy; @DateTime.Now.Year - Diamond Application</p>
    </footer>*@
</div>

@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/SPA")
}