<div id="adicionar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Adicionar Produto</h4>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="nomeproduto">Nome do Produto</label>
                        <input type="text" class="form-control" id="nomeProduto" placeholder="Nome do Produto">
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="categoria">Categoria</label>
                            <select class="form-control" id="categoria">
                                <option></option>
                                <option>Games</option>
                                <option>Celulares</option>
                                <option>Informática</option>
                                <option>Eletronicos</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="preco">Preço</label>
                            <input type="number" class="form-control" id="preco" placeholder="produto.preco">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="quantidade">Quantidade</label>
                            <input type="number" class="form-control" id="Qtd" placeholder="quantidade">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">File input</label>
                        <input type="file" id="exampleInputFile" multiple="multiple">
                        <p class="help-block">Example block-level help text here.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
                    <input type="submit" class="btn btn-primary" value="Salvar">
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->