<div class="container-fluid" ng-controller="ManterProdutoCtrl">
    <div class="row">
        <div class="col-md-10">
            <h1>Lista de Produtos</h1>
        </div>
        <div class="col-md-2">
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <button class="btn adicionar btn-primary" ng-click="abrirAdicionarProduto()">Adicionar Produto</button>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <label>Filtrar Produtos</label>
    <input class="form-control" type="text" ng-model="filterName" ng-change="findProducts(currentPage, filterName)" />
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome do Produto</th>
                    <th>Preço</th>
                    <th>Quantidade</th>
                    <th>Categoria</th>
                    <th>Data Entrada</th>
                    <th>Data Saída</th>
                    <th style="width: 15%" class="text-center">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="produto in produtos">
                    <td>{{produto.id}}</td>
                    <td>{{produto.nome}}</td>
                    <td>{{produto.preco}}</td>
                    <td>{{produto.quantidade}}</td>
                    <td>{{produto.categoria}}</td>
                    <td>{{produto.dataEntrada}}</td>
                    <td>{{produto.dataSaida}}</td>
                    <td style="min-width: 100%">
                        <div class="btn-group btn-group-justified">
                            <div class="btn-group">
                                <button ng-click="abrirDetalhesProduto(produto.id)" class="btn btn-default"><span><i class="fa fa-pencil"></i></span></button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <ul class="pagination">
            <li ng-repeat="pageNumber in pages track by $index"><a href="" ng-click="currentPage = pageNumber; findProducts(pageNumber, filterName)">{{pageNumber}}</a></li>

        </ul>
    </div>
</div>
