<div class="container-fluid">
    
    <div class="panel-heading">        
        <h1>Relatório Sintético de {{titulo}} de Produtos</h1>       
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4 form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-cube" aria-hidden="true"></i></span>
                    <input class="form-control" ng-model="filtro.Produto" type="text" placeholder="Produto" required />
                </div>
            </div>
            <div class="col-md-4 form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-bars" aria-hidden="true"></i></span>
                    <select class="form-control" ng-model="filtro.CategoriaId">
                        <option value="" selected="selected">Selecione</option>
                        <option value="1">DVDs e Blu-Ray</option>
                        <option value="2">Games</option>
                        <option value="3">Celulares e Telefonia Fixa</option>
                        <option value="4">Informática e Tablets</option>
                        <option value="5">TV, Áudio e Home Theater</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-filter" aria-hidden="true"></i></span>
                    <select class="form-control" ng-model="tipoRelatorio">
                        <option value="" selected="selected">Vendas</option>
                        <option value="compras">Compras</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    <input class="form-control" ng-model="filtro.DataInicio" type="date" placeholder="Data Inicial" required />
                </div>
            </div>
            <div class="col-md-4 form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    <input class="form-control" ng-model="filtro.DataTermino" type="date" placeholder="Data de Término" required />
                </div>
            </div>
            <div class="col-md-3 form-group">
                <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-lg" ng-click="filtrar()">Filtrar</button>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <hr />
    <div class="table-responsive" ng-hide="$scope.produtos==0">
        <table class="table">
            <thead>
                <tr>
                    <th>Nome do Produto</th>
                    <th>Id do Produto</th>
                    <th>Quantidade</th>
                    <th>Categoria</th>
                    <th>Valor Total</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in produtos">
                    <td>{{p.produto}}</td>
                    <td>{{p.produtoId}}</td>
                    <td>{{p.quantidade}}</td>
                    <td>{{p.categoria}}</td>
                    <td>{{p.valorTotal}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
